################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/code/.vs/RTCDemo/v16/ipch/e241f41160964daf.ipch
/code/.vs/RTCDemo/v16/ipch/cc2d353af1a2ddfc.ipch
/code/.vs/RTCDemo/v16/ipch/21482556ec01d021.ipch
/code/.vs/RTCDemo/v16/ipch
/code/.vs/RTCDemo/v16/Browse.VC.opendb
/code/.vs/RTCDemo/v16/Browse.VC.db-wal
/code/.vs/RTCDemo/v16/Browse.VC.db-shm
/code/.vs/RTCDemo/v16/Browse.VC.db
/code/.vs/RTCDemo/v16/.suo
/yangzhikai/day1/windows/.vs/RTCDemo/v16/ipch
/yangzhikai/day1/windows/.vs/RTCDemo/v16/Browse.VC.opendb
/yangzhikai/day1/windows/.vs/RTCDemo/v16/Browse.VC.db-wal
/yangzhikai/day1/windows/.vs/RTCDemo/v16/Browse.VC.db-shm
/yangzhikai/day1/windows/.vs/RTCDemo/v16/Browse.VC.db
/yangzhikai/day1/windows/.vs/RTCDemo/v16/.suo
