################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/code/.vs/RTCDemo/v16/ipch/e241f41160964daf.ipch
