html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #919191;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 380px;
    width: 425px;
    background-color: white;
    border-radius: 15px;
}

.title {
    position: relative;
    margin-top: 45px;
    margin-left: 50px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    letter-spacing: 3px;
}

.form {
    margin-left: 50px;
    margin-top: 40px;
}

.room {
    height: 35px;
}

.user {
    height: 40px;
    margin-top: 25px;
}

.input {
    padding-left: 30px;
    font-size: 16px;
    /* 设置padding, 调整了width*/
    width: 284px;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    outline: 0;
}

input::-ms-input-placeholder {
    color: #c1c1c1;
}

input::-webkit-input-placeholder {
    color: #c1c1c1;
}

.btn {
    background-color: #c8c8c8;
    color: white;
    width: 320px;
    font-size: 18px;
    letter-spacing: 4px;
    margin-top: 40px;
    height: 40px;
    border-radius: 2px;
    border-width: 0;
    outline: 0;
}

.btn:hover {
    cursor: pointer;
}

.success {
    background-color: #5286ed;
}