/* #round_rect */
@charset "utf-8";
div{
	width: 425px;
	height: 380px;
	background-color: white;
	border-radius: 15px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	/* margin: auto;
	margin-top:5%; */
}